<!--
/***************************************************************************************
*  Title: Tables
*  Author: N/A
*  Date: N/A
*  Code version: N/A
*  URL: https://getbootstrap.com/docs/4.5/content/tables/
*  Software License: N/A
*  Comment: make table for each event
***************************************************************************************/
-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Event Detail View</title>
    <script
      async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLXvXIF-axqigiDEH_KQQIpHgMrWY9F2U&callback=initMap&libraries=&v=weekly"
      type="text/javascript"
    ></script>
  </head>
  {% extends 'base.html' %}
  {% load static %}
  <body>
    {% block content %}
    <h3 class = 'text-center'>{{ event.title_text }} </h3>
      {% if user.id == event.organizer.id %}
      <div class = 'text-center'>
        <!--<a class="btn btn-dark" href="{% url 'events:event_list' %}">See All Events</a></li>-->
        <a class = 'btn btn-dark btn-sm'href = "{% url 'events:update_event' event.id %}"> Edit Event</a>
        <br><br>
      </div>
      {% endif %}
      <div class = 'text-center'>
        <hr>
      
        {% if not user in rsvps_list %}
        <form action="{% url 'events:rsvp_event' event.pk%}" method="POST">
          {% csrf_token %}
          RSVPs: {{ rsvp_total }}
          {% if friend_rsvps != 0%}
          {% if friend_rsvps == 1%}
          • Your friend 
              {% for friend in user.profile.get_friends %}
              {% for rsvp in event.rsvps_list_all %}
              {% if friend == rsvp %}
              <a href = "{%url 'social_app:profile_page' friend.id%}">{{ friend.username }}</a>
              {% endif %}
              {% endfor %}
            {%endfor%}
            is going!
            {% else%}
            • Your friends 
                  {% for friend in user.profile.get_friends %}
                  {% for rsvp in event.rsvps_list_all %}
                  {% if friend == rsvp %}
                  <a href = "{%url 'social_app:profile_page' friend.id%}">{{ friend.username }} </a>
                  {% endif %}
                  {% endfor %}
                {%endfor%}
                are going!
            {% endif %}
          {% endif %}

          <br/>
        <button type="submit", name="event_id", value="{{ event.id }}", class="btn btn-dark btn-sm">
        RSVP
        </button> 
        <br/>
      </form>
      {% else %}
      <form action="{% url 'events:unrsvp_event' event.pk%}" method="POST">
        {% csrf_token %}
        RSVPs: {{ rsvp_total }}
        {% if friend_rsvps != 0%}
        {% if friend_rsvps == 1%}
        • Your friend 
            {% for friend in user.profile.get_friends %}
            {% for rsvp in event.rsvps_list_all %}
            {% if friend == rsvp %}
            <a href = "{%url 'social_app:profile_page' friend.id%}">{{ friend.username }}</a>
            {% endif %}
            {% endfor %}
          {%endfor%}
          is going!
          {% else%}
          • Your friends 
                {% for friend in user.profile.get_friends %}
                {% for rsvp in event.rsvps_list_all %}
                {% if friend == rsvp %}
                <a href = "{%url 'social_app:profile_page' friend.id%}">{{ friend.username }} </a>
                {% endif %}
                {% endfor %}
              {%endfor%}
              are going!
          {% endif %}
        {% endif %}
        <br>
        <button type="submit", name="event_id", value="{{ event.id }}", class="btn btn-dark btn-sm">
        Un-RSVP
        </button> 
        
      </form>
      {% endif %}
      <br/>
      </div>
      
    <ul>
    <table class="table table-striped">
        <thead>
        <tr>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">Organizer</th>
          <td><a href = "{%url 'social_app:profile_page' event.organizer.id%}">{{ event.organizer.username }}</a></td>
        </tr>
        
        <tr>
          <th scope="row">Date</th>
          <td>{{ event.date }}</td>
        </tr><tr>
          <th scope="row">Time</th>
          <td>{{ event.time }}</td>
        </tr>
        <tr>
          <th scope="row">Location</th>
          <td>{{ event.location_text }}</td>
        </tr>
        <tr>
          <th scope="row">Category</th>
          <td><a href = "{%url 'events:category' event.category_text%}">{{ event.category_text }}</a></td>
        </tr>
        
        <tr>
          <th scope="row">Description</th>
          <td>{{ event.description_text }}</td>
        </tr>
        <tr>
          <th scope="row">Address</th>
          <td>{{ event.location }}</td>
        </tr>
        
        </tbody>
    </table>
    
    <style type="text/css">
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
      }
    </style>
    <script type="text/javascript">  
      var map;
      function initMap() {
        const charlottesville = { lat: 38.034837, lng: -78.5064309};
        map = new google.maps.Map(document.getElementById("map"), {
          zoom: 14,
          center: charlottesville,
        });
        
        google.maps.event.addListenerOnce(map, 'tilesloaded', addMarkers);
      }
      function addMarkers(){
        const iconBase =
                   "http://maps.google.com/mapfiles/kml/shapes/";
                 const icons = {
                    Food: {
                      icon: iconBase + "convenience.png",
                    },
                    Career: {
                      icon: iconBase + "info.png",
                    },
                  }
        var physical_activity="http://maps.google.com/mapfiles/kml/shapes/play.png";
        var entertainment="http://maps.google.com/mapfiles/kml/shapes/movies.png";
        var civic_engagement="http://maps.google.com/mapfiles/kml/shapes/police.png";
        var point = new google.maps.LatLng("{{event.location.latitude}}","{{event.location.longitude}}");
        var category="{{event.category_text}}";
        if(category=== '1'||category==='Food'){
          var marker=new google.maps.Marker({
            position: point,
            map: map,
            icon: {url:icons["Food"].icon,
            scaledSize: new google.maps.Size(30, 30)},
            animation: google.maps.Animation.DROP,
            title:'{{event.title_text}}',
          });
        }
        else if(category=== '2'||category==='Career'){
          var marker=new google.maps.Marker({
            position: point,
            map: map,
            icon: {url:icons["Career"].icon,
            scaledSize: new google.maps.Size(30, 30)},
            animation: google.maps.Animation.DROP,
            title:'{{event.title_text}}',
          });
        }
        else if(category=== '3'||category==="Physical Activity"){
          var marker=new google.maps.Marker({
            position: point,
            map: map,
            icon: {url:physical_activity,
            scaledSize: new google.maps.Size(30, 30)},
            animation: google.maps.Animation.DROP,
            title:'{{event.title_text}}',
          });
        }
        else if(category=== '6'||category==="Entertainment"){
          var marker=new google.maps.Marker({
            position: point,
            map: map,
            icon: {url:entertainment,
            scaledSize: new google.maps.Size(30, 30)},
            animation: google.maps.Animation.DROP,
            title:'{{event.title_text}}',
          });
        }
        else if(category=== '4'||category==="Civic Engagement"){
          var marker=new google.maps.Marker({
            position: point,
            map: map,
            icon: {url:civic_engagement,
            scaledSize: new google.maps.Size(30, 30)},
            animation: google.maps.Animation.DROP,
            title:'{{event.title_text}}',
          });
        }
        else if(category==='5'||category==="Other"){
          var marker=new google.maps.Marker({
            position: point,
            map: map,
            animation: google.maps.Animation.DROP,
            title:'{{event.title_text}}',
          });
        }
        marker['infowindow']  = new google.maps.InfoWindow({
            content: "<b>{{event.title_text}}</b> <br> Location: {{ event.location_text }} <br> Category: {{event.get_category_text_display}} ",
        });
        marker.addListener("click",toggleBounce);
        google.maps.event.addListener(marker, 'click', function() {
        //window.location.href = this.url;
        this['infowindow'].open(map, this);
        });
        google.maps.event.addListener(marker, 'mouseover', function() {
            this['infowindow'].open(map, this);
        });
        google.maps.event.addListener(marker, 'mouseout', function() {
            this['infowindow'].close(map, this);
        });
        marker.setMap(map);
               
      }
      function toggleBounce() {
        if (marker.getAnimation() !== null) {
          marker.setAnimation(null);
        } 
        else {
          marker.setAnimation(google.maps.Animation.BOUNCE);
        }
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <div id="map">
    </div>
  </ul>

    

    {% endblock %}
  </body>
</html>