<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Events List</title>

    <script
      async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLXvXIF-axqigiDEH_KQQIpHgMrWY9F2U&callback=initMap&region=US&libraries=&v=weekly"
      type="text/javascript"
    ></script>
    <style type="text/css">
      /* Set the size of the div element that contains the map */
      #map {
      height: 200px;
      margin-top: auto;
      /* position:absolute; 
      right:-200px;  */
      margin-bottom: auto;
      width: 100%;    }
    </style>
    
</head>
{% extends 'base.html' %}
{% load socialaccount %}

<body>
{% block content %}
{% if user.is_authenticated %}
    <h3 class = 'text-center'>All Current Events</h3>
    <div class = 'text-center'>
      <a class = "btn btn-dark" href="{% url 'events:post_event' %}" role = "button">Post New Event</a><br><br>
    </div>
    <body>
      <div class="container">
          <form method="GET" action="{% url 'events:search' %}">
              <div class="form-row">
                <div class="form-group col-md-4">
                  <input type="search" class="form-control" name="title_contains" value="{{request.GET.title_contains}}" placeholder="Search Title">
                </div>
                <div class="form-group col-md-4">
                  <input type="search" class="form-control" name="description_contains" value="{{request.GET.description_contains}}" placeholder="Search Description">
                </div>
                <div class="form-group col-md-4">
                  <input type="search" class="form-control" name="location_contains" value="{{request.GET.location_contains}}" placeholder="Search Location">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-3">
                  <label>Event Date</label>
                  <input type="date" class="form-control" name="event_date" value="{{request.GET.event_date}}" placeholder="Search Date (Format: 2000-12-24)">
                </div>
                <div class="form-group col-md-3">
                  <label>Event Time</label>
                  <input type="time" class="form-control" name="event_time" value="{{request.GET.event_time}}" placeholder="Search Time (Format: 14:30)">
                </div>
                <div class="form-group col-md-2">
                  <label for="category">Category</label>
                  <select id="category" class="form-control" name="category">
                    <option selected>Choose...</option>
                      <option>Food</option>
                      <option>Career</option>
                      <option>Physical Activity</option>
                      <option>Civic Engagement</option>
                      <option>Other</option>
                  </select>
                </div>
              </div>
              <button type="submit" class="btn btn-outline-dark">Search</button>
              <a class = "btn btn-outline-dark" href="{% url 'events:event_list' %}" role = "button">Clear Search</a><br><br>
            </form>
            <div id="map">
            </div>
      {% if events_list %}
          <ul class="list-group list-group-flush">
            {% for event in events_list%}
              <a href="{% url 'events:detail' event.id %}" class = 'list-group-item list-group-item-action'><b>{{event.title_text}}</b><br> {{event.description_text}}<br>{{event.date}} at {{event.time}}<br>Location: {{event.location_text}}</a></li>
              {%endfor%}
          <style type="text/css">
            /* Set the size of the div element that contains the map */
            #map {
              height: 400px;
              /* The height is 400 pixels */
              width: 100%;
              /* The width is the width of the web page */
            }
          </style>
          <script type="text/javascript">  
            var map;
            function initMap() {
              const charlottesville = { lat: 38.034837, lng: -78.5064309};
              map = new google.maps.Map(document.getElementById("map"), {
                zoom: 14,
                center: charlottesville,
              });
              
              google.maps.event.addListenerOnce(map, 'tilesloaded', addMarkers);
            }
            function addMarkers(){
                 const iconBase =
                   "http://maps.google.com/mapfiles/kml/shapes/";
                 const icons = {
                    Food: {
                      icon: iconBase + "convenience.png",
                    },
                    Career: {
                      icon: iconBase + "info.png",
                    },
                  }
                  var physical_activity="http://maps.google.com/mapfiles/kml/shapes/play.png";
                  var civic_engagement="http://maps.google.com/mapfiles/kml/shapes/movies.png";
                  var physical_activity="http://maps.google.com/mapfiles/kml/shapes/play.png";
                  var entertainment="http://maps.google.com/mapfiles/kml/shapes/movies.png";
                  var civic_engagement="http://maps.google.com/mapfiles/kml/shapes/police.png";
                 {% for event in events_list.all %}
                    var point = new google.maps.LatLng("{{event.location.latitude}}","{{event.location.longitude}}");
                    var category="{{event.category_text}}";
                    if(category=== '1'||category==='Food'){
                      var marker=new google.maps.Marker({
                        position: point,
                        map: map,
                        icon: {url:icons["Food"].icon,
                        scaledSize: new google.maps.Size(30, 30)},
                        animation: google.maps.Animation.DROP,
                        title:'{{event.title_text}}',
                     });
                    }
                    else if(category=== '2'||category==='Career'){
                      var marker=new google.maps.Marker({
                        position: point,
                        map: map,
                        icon: {url:icons["Career"].icon,
                        scaledSize: new google.maps.Size(30, 30)},
                        animation: google.maps.Animation.DROP,
                        title:'{{event.title_text}}',
                     });
                    }
                    else if(category=== '3'||category==="Physical Activity"){
                      var marker=new google.maps.Marker({
                        position: point,
                        map: map,
                        icon: {url:physical_activity,
                        scaledSize: new google.maps.Size(30, 30)},
                        animation: google.maps.Animation.DROP,
                        title:'{{event.title_text}}',
                     });
                    }
                    else if(category=== '6'||category==="Entertainment"){
                      var marker=new google.maps.Marker({
                        position: point,
                        map: map,
                        icon: {url:entertainment,
                        scaledSize: new google.maps.Size(30, 30)},
                        animation: google.maps.Animation.DROP,
                        title:'{{event.title_text}}',
                     });
                    }
                    else if(category=== '4'||category==="Civic Engagement"){
                      var marker=new google.maps.Marker({
                        position: point,
                        map: map,
                        icon: {url:civic_engagement,
                        scaledSize: new google.maps.Size(30, 30)},
                        animation: google.maps.Animation.DROP,
                        title:'{{event.title_text}}',
                     });
                    }
                    else if(category==='5'||category==="Other"){
                      var marker=new google.maps.Marker({
                        position: point,
                        map: map,
                        animation: google.maps.Animation.DROP,
                        title:'{{event.title_text}}',
                     });
                    }
                    marker['infowindow']  = new google.maps.InfoWindow({
                        content: "<b>{{event.title_text}}</b> <br> Location: {{ event.location_text }} <br> Category: {{event.get_category_text_display}} ",
                    });
                    marker.addListener("click",toggleBounce);
                    google.maps.event.addListener(marker, 'click', function() {
                    //window.location.href = this.url;
                    this['infowindow'].open(map, this);
                    });
                    google.maps.event.addListener(marker, 'mouseover', function() {
                        this['infowindow'].open(map, this);
                    });
                    google.maps.event.addListener(marker, 'mouseout', function() {
                        this['infowindow'].close(map, this);
                    });
                    marker.setMap(map);
               {% endfor %}
            }
            function toggleBounce() {
              if (marker.getAnimation() !== null) {
                marker.setAnimation(null);
              } 
              else {
                marker.setAnimation(google.maps.Animation.BOUNCE);
              }
            }
            google.maps.event.addDomListener(window, 'load', initialize);
          </script>
          
        </div>
      {% else %}
          <p>No events have been posted.</p>
      {% endif %}
    </body>
{% else %}
    <style>
    .container { height: 100%; width: 100%; justify-content: center !important; }
    .card{
      height: 370px;
      margin-top: auto;
      margin-bottom: auto;
      width: 400px;
      background-color: rgba(238, 238, 238, 0.5) !important;
    }
    </style>
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center login-title">Sign In</h3>
        </div>
        <div class="card-body">
          <p>Click "Login" to sign in with your Hoos2Meet Credentials.</p><br>
          <a class = "btn btn-dark" href="/accounts/login" role = "button">Login</a><br>
        </div>
        <div class="card-footer">
          <div class = "d-flex justify-content-center links">
            <p>Don't have an account? <br></p> <a href="{% provider_login_url 'google' %}"> SignUp with Google</a>
          </div>
        </div>
      </div>
    </div>
    
    
{% endif %}
{% endblock content %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>