
<!DOCTYPE html>
  <head>
    {% extends 'base.html' %}
    {% load static %}
    {% load socialaccount %}
    <title>Welcome</title>
    
  </head>
  <body>
  {% block content %}
  {% if user.is_authenticated %}
  <p>Welcome, {{ user.first_name }} {{user.last_name}}! You are logged in to Hoos2Meet!</p>
  <p class='small'>If your full name is not showing up above, update your profile settings from your profile page using the Social tab in the navigation bar.</p>
  <p></p>

  {% else %}
  <style>
  .container { height: 100%; width: 100%; justify-content: center !important; }
  .card{
    height: 350px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(238, 238, 238, 0.5) !important;
}</style>
<div class='justify-content-center'>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h3 class="text-center login-title">Sign In</h3>
      </div>
      <div class="card-body">
        <p>Click "Login" to sign in with your Hoos2Meet Credentials.</p><br>
        <div class = 'justify-content-center'>
          <a class = "btn btn-dark" href="/accounts/login" role = "button">Login</a><br>
        </div>
        
      </div>
      <div class="card-footer">
        <div class = "d-flex justify-content-center links">
          <p>Don't have an account? <br></p> <a href="{% provider_login_url 'google' %}"> SignUp with Google</a>
        </div>
      </div>
    </div>
  </div>
</div>  
  {% endif %}
  {% endblock %} 
  </body>
</html>