
<!DOCTYPE html>
<head>
  {% extends 'base.html' %}
  {% load static %}
  {% load socialaccount %}
  <title>Welcome/title>
  
</head>
<body>
{% block content %}
{% if user.is_authenticated %}
<div class = 'text-center'>
    <h3>Search For Users</h3>
</div>
 
<div class="container">
    <form method="GET" action="{% url 'social_app:search' %}">
        <input type="search" class="form-control" name="user" value="{{request.GET.user}}" placeholder="Search Users">
            <br/>
            <div class= 'text-center'>
                <button type="submit" class="btn btn-outline-dark">Search</button>
                <a class = "btn btn-outline-dark" href="{% url 'social_app:search_users' %}" role = "button">Clear Search</a><br><br>
            </div>
            <br/>       
    </form>
    <ul class="list-group list-group-flush">
        {% for item in user_list %}
          <!-- "{{user.profile.get_friends}}" -->
            <!-- {% if item.username == user.username %}
            {% elif not item in user.profile.get_friends %}
                <a href="{% url 'social_app:profile_page' item.id %}" class = 'list-group-item list-group-item-action'><b>{{item.first_name}} {{item.last_name}} @{{item.username}}</a> 
                  <a href="{% url 'social_app:change_friends' operation='add_search' pk=item.pk %}" class="btn btn-success">Add Friend</a>
                </li>
            {% elif item in user.profile.get_friends %}
                <a href="{% url 'social_app:profile_page' item.id %}" class = 'list-group-item list-group-item-action'><b>{{item.first_name}} {{item.last_name}} @{{item.username}}</a>
                  <a href="{% url 'social_app:change_friends' operation='remove_search' pk=item.pk %}" class="btn btn-danger">Remove Friend</a>
                </li>
            {% endif %} -->
            {% if item == user%}
            {% elif not item in user.profile.get_friends %}
                <a href="{% url 'social_app:profile_page' item.id %}" class = 'list-group-item list-group-item-action'><b>{{item.first_name}} {{item.last_name}} @{{item.username}}</a> 
                  <a href="{% url 'social_app:change_friends' operation='add_search' pk=item.pk %}" class="btn btn-success">Add Friend</a>
                </li>
            {% elif item in user.profile.get_friends %}
                <a href="{% url 'social_app:profile_page' item.id %}" class = 'list-group-item list-group-item-action'><b>{{item.first_name}} {{item.last_name}} @{{item.username}}</a>
                  <a href="{% url 'social_app:change_friends' operation='remove_search' pk=item.pk %}" class="btn btn-danger">Remove Friend</a>
                </li>
            {% endif %}
          <br/>
        {% endfor %}
    </ul>
</div>

{% else %}
<style>
.container { height: 100%; width: 100%; justify-content: center !important; }
.card{
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(238, 238, 238, 0.5) !important;
}</style>
<div class="container">
  <div class="card">
    <div class="card-header">
      <h3 class="text-center login-title">Sign In</h3>
    </div>
    <div class="card-body">
      <p>Click "Login" to sign in with your Hoos2Meet Credentials.</p><br>
      <a class = "btn btn-dark" href="/accounts/login" role = "button">Login</a><br>
    </div>
    <div class="card-footer">
      <div class = "d-flex justify-content-center links">
        <p>Don't have an account? <br></p> <a href="{% provider_login_url 'google' %}"> SignUp with Google</a>
      </div>
    </div>
  </div>
</div>

{% endif %}
{% endblock %} 
</body>
</html>