
<!DOCTYPE html>
<head>
  {% extends 'base.html' %}
  {% load static %}
  {% load socialaccount %}
  <title>Profile Page</title>
  
</head>
<body>
{% block content %}
{% if user.is_authenticated %}
<div class="card mb-3" style="max-width: 600px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{% static 'events/images/default_pic.png'%}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{profile.user.first_name}} {{profile.user.last_name}}</h5>
          <p class="card-text">{{profile.user.profile.location}} <br>{{profile.user.profile.bio}} <br>Event Preferences: {{user.profile.categories}}
            <br>Age: {{profile.user.profile.age}}
            {% if profile.get_friends_no != 0 %}
              <br>Friends : 
              <ol>
              {%for friend in profile.get_friends %}
                <li>
                    <a href="{%url 'social_app:profile_page' friend.profile.id%}"> {{friend}}</a>
                </li>
              {% endfor %}
              </ol> 
            </p>
            {% else %}
            {% endif %}
            <!-- Friend Request -->
            {FRIEND REQUESTS DISPLAYED HERE}
            {BUTTONS FOR ACCEPTING / REJECTING}
            <!-- Send friend request if user is not on his profile -->
            <script>
              console.log("{{profile}}")
              console.log("{{user}}")
              console.log("{{user.profile.get_friends}}")
              console.log("{{friends}}")
              console.log("{{users}}")
            </script>       
            {% if user.id != profile.user.id %} 
                  {% if not user in friends %}
                  <a href="{% url 'social_app:change_friends' operation='add' pk=profile.pk %}">
                    <button type="button" class="btn btn-success">Add Friend</button>
                    </a>
                  {% else %}
                  <a href="{% url 'social_app:change_friends' operation='remove' pk=profile.pk %}">
                    <button type="button" class="btn btn-danger">Remove Friend</button>
                    </a>
                  {% endif %}
            {% endif %}
            {% if user.id == profile.user.id %}
                 <br> <a href="{%url 'social_app:edit_prefs' %}" class="btn btn-primary">Edit Profile</a>
            {% endif %}
        </div>
      </div>
    </div>
  </div>



{% else %}
<style>
.container { height: 100%; width: 100%; justify-content: center !important; }
.card{
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(238, 238, 238, 0.5) !important;
}</style>
<div class="container">
  <div class="card">
    <div class="card-header">
      <h3 class="text-center login-title">Sign In</h3>
    </div>
    <div class="card-body">
      <p>Click "Login" to sign in with your Hoos2Meet Credentials.</p><br>
      <a class = "btn btn-dark" href="/accounts/login" role = "button">Login</a><br>
    </div>
    <div class="card-footer">
      <div class = "d-flex justify-content-center links">
        <p>Don't have an account? <br></p> <a href="{% provider_login_url 'google' %}"> SignUp with Google</a>
      </div>
    </div>
  </div>
</div>

{% endif %}
{% endblock %} 
</body>
</html>