
<!DOCTYPE html>
<head>
  {% extends 'base.html' %}
  {% load static %}
  {% load socialaccount %}
  <title>Profile Page</title>
  
</head>
<body>
{% block content %}
{% if user.is_authenticated %}
<div class="card mb-3" style="max-width: 1000px;">
    <div class="row no-gutters">
      <div class="col-md-8 justify-content-center">
        <div class="card-body">
          <h5 class="card-title">{{profile.user.first_name}} {{profile.user.last_name}}<br> <small> {{profile.user.profile.location}} • {{profile.user.profile.age}} years old</small></h5>
          <p class="card-text">{{profile.user.profile.bio}} <br> <br>
            Event Preferences:
            <ol>
              {%for category in profile.get_categories%}
                <a class = 'list-group-item list-group-item-action'href="{%url 'events:category' category %}"> {{category}}</a>
              {%endfor%}
            </ol><br/>
            {% if rsvp_event_list %}
              Events Attending:
              <ol>
                {%for e in rsvp_event_list%}
                  <a class = 'list-group-item list-group-item-action'href="{%url 'events:detail' e.id %}"> {{e.title_text}}</a>
                {%endfor%}
              </ol>
            {% endif %}
            {% if user.id == profile.user.id %} 
            {% if profile.get_friends_no != 0 %}
              <br>Friends : 
              <ol>
              {%for friend in profile.get_friends %}
                <li>
                    <a class = 'list-group-item list-group-item-action' href="{%url 'social_app:profile_page' friend.profile.id%}"> {{friend}}</a>
                </li>
              {% endfor %}
            {% endif %}
              </ol> 
            </p>
            {% else %}
            {% endif %}
            <!-- Friend Request -->
            <!-- Send friend request if user is not on his profile -->
            <script>
              console.log("{{profile}}")
              console.log("{{user}}")
              console.log("{{user.profile.get_friends}}")
              console.log("{{friends}}")
              console.log("{{users}}")
            </script>       
            {% if user.id != profile.user.id %} 
                  {% if not user in friends %}
                  <a href="{%url 'social_app:profile_page' user.id %}" class="btn btn-dark">Go back to Profile</a> 
                  <a href="{% url 'social_app:change_friends' operation='add' pk=profile.pk %}">
                    <button type="button" class="btn btn-success">Add Friend</button>
                    </a>
                  {% else %}
                  <a href="{%url 'social_app:profile_page' user.id %}" class="btn btn-dark">Go back to Profile</a> 
                  <a href="{% url 'social_app:change_friends' operation='remove' pk=profile.pk %}">
                    <button type="button" class="btn btn-danger">Remove Friend</button>
                    </a>
                  {% endif %}
            {% endif %}
            {% if user.id == profile.user.id %}
                 <br> <a href="{%url 'social_app:edit_prefs' %}" class="btn btn-dark">Edit Profile</a>
            {% endif %}
        </div>
      </div>
    </div>
  </div>



{% else %}
<style>
.container { height: 100%; width: 100%; justify-content: center !important; }
.card{
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(238, 238, 238, 0.5) !important;
}</style>
<div class="container">
  <div class="card">
    <div class="card-header">
      <h3 class="text-center login-title">Sign In</h3>
    </div>
    <div class="card-body">
      <p>Click "Login" to sign in with your Hoos2Meet Credentials.</p><br>
      <a class = "btn btn-dark" href="/accounts/login" role = "button">Login</a><br>
    </div>
    <div class="card-footer">
      <div class = "d-flex justify-content-center links">
        <p>Don't have an account? <br></p> <a href="{% provider_login_url 'google' %}"> SignUp with Google</a>
      </div>
    </div>
  </div>
</div>

{% endif %}
{% endblock %} 
</body>
</html>